<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Download Page</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>app_name</th>
                    <th>do  cfile</th>
                </tr>
            </thead>

            <tbody>
                {% for param in params %}
                    <tr>
                        <td> {{ param.app_name }}</td>
                        <td> {{ param.docfile }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    </body>
</html>
