<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  {% load static %}
  <script src="{% static 'scripts/progress.js' %}"></script>   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
   
  <div class="row">
    <div class="col-sm-8">
      <div class="page-header">
        <h2>Watch the numbers change</h2>
      </div>
      <a href="{% url 'customiser:download' %}" role="button" class="btn btn-primary btn-lg btn-block">Start</a>
  
      <h3>From Django-Celery-Result DB.</h3>
      <label>Status:</label><br>
      <input id="status-field" value="{{ status }}" size="64">
      <br>
      <label>Job ID:</label><br>
      <input id="job-field" value="{{ task_id }}" size="64">
      <br>
      <label>Download link:</label><br>
      <input id="link" value="{{ link }}" size="64">
      <br>
      <label>Res link:</label><br>
      <a id="d_link" href="{{ d_link }}" class = "btn btn-primary">
        Download
      </a>
    </div>
  </div>
  
  <script type="text/javascript">
  
  var poll_xhr;
  var checkStatus = {{ check_status }};
  
  update = function()
  {
      var task_id = "{{ task_id }}";
      var state   = "{{ state }}";
      poll_xhr = $.ajax({
          url: 'customiser/upload/update_status/?task_id={{ task_id }}',
          type: 'GET',
          success: function(result)
          {
              console.log(result);
              $('#state-field').val(result.state);
              $('#status-field').val(result.status);
              d_link = result.link
              //$('#link').val(d_link);
              var down_link = document.getElementById('d_link');
              down_link.href = d_link
          }
      });
  }
  
  if (checkStatus){
    setInterval(function(){update();}, 200);
  }else{
    clearInterval(function(){update();});
  }
  </script>

</body>
</html lang="en">
