<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customise apk</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type='text/javascript'>
            function addFields()
            {
                // Number of inputs to create
                var number = document.getElementById("nPages").value;
                // Container <div> where dynamic content will be placed
                var container = document.getElementById("container");
                // Clear previous contents of the container
                while (container.hasChildNodes())
                {
                    container.removeChild(container.lastChild);
                }
                for (i = 0; i < number; i++)
                {
                    // Append a node with a random text
                    container.appendChild(document.createTextNode("Page " + (i + 1)));
                    // Create an <input> element, set its type and name attributes
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = "page" + i; 
                    container.appendChild(input);
                    // Append a line break 
                    container.appendChild(document.createElement("br"));
                }
            }
        </script>

    </head>
    <body>
        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ form.as_p }}
                
            <input type="text" id="nPages" name="nPages" value="">Number of pages<br/>
            <a href="#" id="showPages" onclick="addFields()">Show</a>
            <div id="container">
            </div>
            <input type="submit" value="Submit">
        </form>



    </body>
</html>